body {
  margin: 50px 0;
}

.container {
  text-align: center;
}

.container > input {
  width: 400px;
  padding: 10px 5px;
  border: none;
}

.message-section {
  width: 700px;
  margin-top: 20px;
  margin-left: 300px;
}

.message-content {
  text-indent: 10px;
}

.message-div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.reply-button {
  padding: 10px 5px;
}