body {
  text-align: center;
  margin: 100px;
}

#number {
  padding: 8px;
}

input[type="button"] {
  padding: 8px;
}

#op {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.swatch{
  width:100px;
  height:100px;
  margin:0px;
}